/* Text Align Center */
.text-center {
    text-align: center;
}

/* Flex box & centered aligned items */
.flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 6px 11px;
    background-color: var(--main-bg-color);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
    font-style: inherit;
}
